/* Ajuste Geral do documento*/
* {
  margin: 0;
  padding: 0;
}

/* Variaveis */
  /* Mode Dark */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(255, 255, 255);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0 , 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bf-url: url(./assets/moon-stars.svg)
}

  /* Mode Light */
.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgb(0, 0, 0);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02); 
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bf-url: url(./assets/sun.svg)
}

/* Body */
body {
  background: var(--bg-url) no-repeat top center/ cover;
  height: 100vh;
}
  /* Fontes */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* profile */
  /* Barras */
#container {
  width: auto ;
  max-width: 588px;
  height: auto;
  margin: 56px auto 0px;
  padding: 24px;
}

/* profile */
#profile {
    text-align: center;
    position: center;
    padding: 10px;
}

/* Foto do perfil */
#profile img {
    width: 112px;
    border: 3px solid var(--stroke-color);
    border-radius: 8px;
}

/* Descricao */
#about{
  text-align: center;
  border-radius: 8px;
  margin-bottom: 24px;
}

/* Troca do Modo */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

/* Botao para trocar para o Modo Light */
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bf-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-to-right 0.4s ;
}

/* Botao para trocar para o Modo Dark */
.light #switch button{
  animation: slide-to-left 0.4s forwards;
}

/* Contorno do botao de troca de Mode*/
#switch button:hover {
  outline: 8px solid var(--highlight-color)
}

/* Design do Botao de troca */
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur 4px;
  -webkit-backdrop-filter: blur 4px;
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

/* Design das barras */
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  /* Tirar Underline*/
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover{
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Design da frase inferior */
footer{
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* Troca de Background */
@media (min-width: 700px){
  :root {
    --bg-url: url(assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(assets/bg-desktop-light.jpg);
  }
}

/* Animacoes */
  /* velocidade do botao para o modo Light*/
@keyframes slide-to-left{
  from{
    left: 0%;
  }
  to {
    left: 50%;
  }
}

  /* velocidade do botao para o modo Dark*/
@keyframes slide-to-right{
  from{
    left: 50%;
  }
  to {
    left: 0%;
  }
}